.custom-form-field {
	input[type=checkbox] {
		width: auto;
		margin-right: 10px;
		height: auto;
	}
}


// authentication logo
.logo-img{
	.icon-30 {
		height: 3.125rem;
		width: 3.125rem;
	}
}

.auth-card{
	padding: 50px;
}

